<div id="question<%= question.id %>" class="list-group-item question-view">
    <h5 class="card-title"><%= question.body %></h5>
    <p id="attempt<%= question.id %>"><%= question.attempts %> attempts remaining</p>
    <span style="display:block; height: 20px;"></span>
    <% question.answers.forEach((answer) => { %>
        <div class="custom-control custom-radio">
            <input type="radio" id="<%= answer.id %>" value="<%= answer.answer %>" name="answer<%= question.id %>" class="custom-control-input">
            <label class="custom-control-label" for="<%= answer.id %>"><%= answer.answer %></label>
        </div>
    <% }); %>
    <span style="display:block; height: 20px;"></span>
    <button id="<%= question.id %>" class="appbtn answerquestion" type="button">Answer</button>
    <span style="display:block; height: 10px;"></span>
</div>