<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../../partials/head', { title: title }) %>
  </head>

  <body>
    <div class="wrapper">
      <%- include('../../partials/student/sidebar', {courses: courses}) %>
      <div id="content">
        <h1><%= course.department %> <%= course.number %> - <%= course.section %></h1>
        <h2>Instructor: <%= course.instructor %></h2>
        <h2><%= course.name %></h2>
        <hr>
        <h3>Current Score: <%= score.percent %>%</h3>
        <h4><%= score.actual %> / <%= score.total %> points</h4>

        <table class="table">
            <thead>
              <tr>
                <th scope="col">Assignment</th>
                <th scope="col">Due Date</th>
                <th scope="col">Your Score</th>
                <th scope="col">View Assignment</th>
              </tr>
            </thead>
            <tbody>
              <% assignments.forEach((assignment) => { %>
                <tr>
                    <td><%= assignment.name %></td>
                    <td><%= assignment.close %></td>
                    <td><%= assignment.score %>%</td>
                    <% if(assignment.openms < Date.now()){ %>
                      <td><a class="reportlink" href="/takeassignment/<%= assignment.id %>">Go To Assignment</a></td>
                    <% } else { %>
                      <td><small>Available</small> <%= assignment.open %></td>
                    <% } %>
                </tr>
            <% }); %>
            </tbody>
        </table>

      </div> <%# close content %>
    </div> <%# close wrapper %>
  </body>

  <%- include('../../partials/scripts'); %>

</html>
 