<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../../partials/head', { title: title }) %>
  </head>

  <body>
    <div class="wrapper">
      <%- include('../../partials/student/sidebar', {courses: courses}) %>
      <div id="content">

        <h1><%= assignment.name %> <small>| <%= assignment.category %></small></h1>
        <hr>
        <h4><%= assignment.prompt %></h4>
        <hr>
        
        <div class="form-row">
            <h4>Course: <%= assignment.course %></h4>
        </div>
        <div class="form-row">
            <h4><small>Due by: </small><%= assignment.close %></h4>
        </div>
        <div class="form-row">
            <h3 id="score"><%= score %>%</h3>
        </div>
        <hr>

        <p><%= assignment.points %> <small>Points</small> | <%= assignment.latepenalty %> <small>Point Late Penalty</small></p>
        <h4> <%= assignment.attempts %> Attempts per Question</h4>

        <hr>

        <ul id="questions">
          <% questions.forEach((question) => { %>
            <%- include('../../partials/student/questionanswer', {question: question}) %>
          <% }); %>
        </ul>
        <hr>

      </div> <%# close content %>
    </div> <%# close wrapper %>

    <%# modal with info on question that comes up after answering%>
    <div class="modal fade" id="answer_modal" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Answer Incorrect</h4>
          </div>
          <div class="modal-body" id="hint">
          </div>
          <div class="modal-footer">
            <button type="button" id="okay" class="appbtn" data-dismiss="modal">Okay</button>
          </div>
        </div>
      </div>
    </div>
  </body>

  <%- include('../../partials/scripts'); %>
  <script type="text/javascript" src="http://localhost:8080/public/js/takeassignment.js"></script>

</html>
