<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head', { title: title }) %>
  </head>

  <body>
    <div class="wrapper">
      <%- include('../partials/sidebar') %>
      <div id="content">
        <h1><%= hello %></h1>

        <div class="row">

          <div class="col-md-5">
            <h3>Courses</h3>
            <%# generate a course card for each of the users courses %>
            <% courses.forEach((course) => { %>
            <%- include('../partials/coursecard', {course: course}) %>
            <% }); %>
          </div>

          <div class="col-md-5">
            <h3>Upcoming Assignments</h3>
            <%# generate assignment card for each of the users upcoming assignments %>
            <% assignments.forEach((assignment) => { %>
              <%- include('../partials/assignmentcard', {assignment: assignment}) %>
              <% }); %>
          </div>

      </div> <%# close content %>
    </div> <%# close wrapper %>
  </body>

  <%- include('../partials/scripts'); %>

</html>