<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %></title>

<% var host = 'http://localhost:8080' %>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/shards-ui/3.0.0/css/shards.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" href="<%= host %>/public/css/style.css">
<link rel="stylesheet" href="<%= host %>/public/css/btnlinks.css">
<link rel="stylesheet" href="<%= host %>/public/css/fonts.css">
<link rel="stylesheet" href="<%= host %>/public/css/footer.css">
<link rel="stylesheet" href="<%= host %>/public/css/landing.css">
<link rel="stylesheet" href="<%= host %>/public/css/mediaqueries.css">
<link rel="stylesheet" href="<%= host %>/public/css/navbar.css">
<link rel="stylesheet" href="<%= host %>/public/css/sidebar.css">
<link rel="stylesheet" href="<%= host %>/public/css/content.css">
<link rel="stylesheet" href="<%= host %>/public/css/questions.css">