<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../../partials/head', { title: title }) %>
  </head>

  <body>
    <div class="wrapper">
      <%- include('../../partials/instructor/sidebar', {courses: courses}) %>
      <div id="content">

        <h1><%= assignment.name %> <small>| <%= assignment.category %></small></h1>
        <h2>For <%= assignment.course %></h2>
        <hr>
        <p><small>Available: </small>&emsp; <%= assignment.open %>
          <br><small>Due by: </small>&emsp;<%= assignment.close %>
          <br><small>No longer available: </small>&emsp;<%= assignment.cutoff %></p>
        <hr>

        <p><%= assignment.points %> <small>Points</small> | <%= assignment.attempts %> <small>Attempts</small> | <%= assignment.latepenalty %> <small>Point Late Penalty</small></p>

        <hr>

        <ul id="questions">
          <% questions.forEach((question) => { %>
            <%- include('../../partials/instructor/questionview', {question: question}) %>
          <% }); %>
        </ul>
        <hr>

        <a id="addquestions" class="appbtn" type="button" href="/assignment/choosequestions/<%= assignment.id %>">Add More Questions</a>

      </div> <%# close content %>
    </div> <%# close wrapper %>

    <%# modal to warn user before they delete a question%>
    <div class="modal fade" id="delete_modal" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Are you sure you want to delete this question?</h4>
          </div>
          <div class="modal-body">
            All student answers for this question on the assignment will be removed<br>
            Scores students received for answering this question will no longer be considered in grading of assignment<br>
            If this question is re-added later to the assignment students will need to re-answer it
          </div>
          <div class="modal-footer">
            <button type="button" id="deletequestion" class="appbtn deletebtn" data-dismiss="modal">Yes, Remove Question</button>
            <button type="button" id="cancel" class="appbtn" data-dismiss="modal">No, Keep Question</button>
          </div>
        </div>
      </div>
    </div>

  </body>

  <%- include('../../partials/scripts'); %>
  <script type="text/javascript" src="http://localhost:8080/public/js/assignment.js"></script>

</html>
