<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../../partials/head', { title: title }) %>
  </head>

  <body>
    <div class="wrapper">
      <%- include('../../partials/instructor/sidebar', {courses: courses}) %>
      <div id="content">

        <h2>Enter information for the assignment</h2>


        <div class="form-row">
          <div class="form-group col-md-7">
            <span style="display:block; height: 40px;"></span>
            <h4>Assignment Name/Type</h4>
            <hr>
          </div>
        </div>

        <%# ROW 1 - Name %>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="assignment_name">Name</label>
            <input type="text" class="form-control" id="assignment_name" placeholder="e.g. Homework 2...">
            <small class="text-danger" id="assignment_name_error"></small>
          </div>
          <div class="form-group col-md-3">
            <label for="assignment_type">Type of assignment:</label>
            <select id="assignment_type" class="form-control">
              <option value="Test">Test</option>
              <option value="Homework">Homework</option>
              <option value="Program">Coding Program</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-7">
            <span style="display:block; height: 40px;"></span>
            <h4>Assignment Course/Category</h4>
            <hr>
          </div>
        </div>

        <%# ROW 1 - Name %>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="assignment_course">This assignment is for the course:</label>
            <select id="assignment_course" class="form-control">
              <% courses.forEach((course) => { %>
                <option value="<%= course.id %>"><%= course.department %> <%= course.number %> - <%= course.name %></option>
              <% }); %>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="assignment_category">Assignment Category:</label>
            <select id="assignment_category" class="form-control">
              <option value="Test">Test</option>
              <option value="Homework">Homework</option>
              <option value="Program">Coding Program</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-7">
            <span style="display:block; height: 40px;"></span>
            <h4>Assignment Prompt</h4>
            <hr>
          </div>
        </div>

        <%# ROW 2 - Prompt %>
        <div class="form-row">
            <div class="form-group col-md-9">
                <label for="assignment_prompt">Prompt</label>
                <textarea type="text" class="form-control" id="assignment_prompt" placeholder="e.g. Answer the questions relating to topic..."></textarea>
            </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-7">
            <span style="display:block; height: 40px;"></span>
            <h4>Assignment Dates</h4>
            <hr>
          </div>
        </div>

        <%# ROW 3 - Assignment Dates %>
       <div class="form-row">
        <div class="form-group col-md-3">
          <label for="assignment_open">Opening Date</label>
          <input type="datetime-local" class="form-control" id="assignment_open">
          <small class="text-danger" id="assignment_open_error"></small>
        </div>
        <div class="form-group col-md-3">
          <label for="assignment_close">Closing Date</label>
          <input type="datetime-local" class="form-control" id="assignment_close">
          <small class="text-danger" id="assignment_close_error"></small>
        </div>
        <div class="form-group col-md-3">
         <label for="assignment_cutoff">Cutoff Date</label>
         <input type="datetime-local" class="form-control" id="assignment_cutoff">
         <small class="text-danger" id="assignment_cutoff_error"></small>
       </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-7">
          <span style="display:block; height: 40px;"></span>
          <h4>Assignment Scoring Info</h4>
          <hr>
        </div>
      </div>

        <%# ROW 4 - Number Section %>
       <div class="form-row">
          <div class="form-group col-md-3">
            <label for="assignment_attempts">Attempts Allowed</label>
            <input type="text" class="form-control" id="assignment_attempts" placeholder="e.g. 5...">
            <small class="text-danger" id="assignment_attempts_error"></small>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="assignment_points">Total Points</label>
            <input type="text" class="form-control" id="assignment_points" placeholder="e.g. 20....">
            <small class="text-danger" id="assignment_points_error"></small>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="assignment_latepenalty">Late Penalty</label>
            <input type="text" class="form-control" id="assignment_latepenalty" placeholder="e.g. 10... (Must be less than Total Points)">
            <small class="text-danger" id="assignment_latepenalty_error"></small>
          </div>
       </div>
       <div class="form-check">
        <input type="checkbox" class="form-check-input" id="randomize">
        <label class="form-check-label" for="randomize">Randomize Question Ordering</label>
      </div>

      <div class="form-row">
        <div class="form-group col-md-7">
          <span style="display:block; height: 40px;"></span>
          <hr>
        </div>
      </div>

       <div id="unknownerr"></div>
       <span style="display:block; height: 20px;"></span>
       <button id="createAssignment" class="appbtn" type="button">Choose Questions</button>

      </div> <%# close content %>
    </div> <%# close wrapper %>
  </body>

  <%- include('../../partials/scripts'); %>
  <script type="text/javascript" src="../public/js/createassignment.js"></script>

</html>
